.header__wrap {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 375px;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
}

.header__heading {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.text__div {
  font-size: 1.25rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.header__nav {
  font-size: 1.35rem;
  margin-top: 0;
  margin-bottom: 0;
}

.header__link {
  color: black;
  font-weight: bold;
  margin-left: 0.75rem;
  margin-top: 0;
  padding: 0.25rem;
  text-decoration: none;
  text-align: center;
}

.header__link:focus {
  color: red;
}
