a:link, a:visited {
	color: gray;
}
	
.td {
	font-size: 16px;
	color: #555;
	padding: 5px;
}

.collapsible {
	background-color: white;
	border: none;
	padding: 0;
	background: none;
	font-family: Amazon Ember;
	cursor: pointer;
	width: 100%;
	outline: none;
	font-size: 18px;
	text-align: left;
}
    
.active, .collapsible:hover {
	background-color: white;
}
    
.content {
	padding: 0 10px;
	display: none;
	overflow: hidden;
	background-color: white;
}

main {
	transition: margin-left .5s;
	padding: 16px;
}